.header {
  background-color: lightblue;
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.title__outer {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 0 10px;
}

.container {
  padding: 25px 15px;
}

.header__title {
  font-size: 28px;
}

.menu {
  display: flex;
  padding: 0;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}

.page_link {
  padding: 0 10px;
  text-decoration: none;
}

.hero {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.left {
  background-color: lightcoral;
  text-align: center;
  display: flex;
  align-items: center;
  width: 25%;
}

.outer__left__container {
  padding: 10px 20px;
}

.right__outer {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.right {
  height: 100%;
}

.top {
  padding: 10px 20px;
  background-color: lightgreen;
  text-align: end;
}

.bottom {
  display: flex;
  height: 100%;
}

.left__inner {
  text-align: center;
}

.right__container {
  display: flex;
  width: 25%;
  align-items: center;
  background-color: lightcoral;
  padding: 10px 20px;
}

.left__container {
  display: flex;
  width: 75%;
  align-items: center;
  padding: 10px 20px;
}

.right__inner {
  text-align: center;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  background-color: lightblue;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
}

.footer__text {
  width: 40%;
}

.subtitle__outer {
  width: 35%;
}

.footer__subtitle {
  background-color: white;
  border-radius: 10px;
  padding: 0 10px;
  text-align: start;
}

.image {
  max-width: 100%;
}

@media (max-width: 768px) {
  .header__inner {
    flex-direction: column;
  }

  .title__outer {
    width: 60%;
  }

  .header__title {
    text-align: center;
  }

  .menu {
    flex-direction: column;
    text-align: center;
  }

  .hero {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right__outer {
    width: 100%;
  }

  .bottom {
    flex-direction: column;
  }

  .left__container {
    width: 100%;
    padding: 0;
  }

  .right__container {
    width: 100%;
    padding: 0;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__text {
    width: 100%;
  }

  .subtitle__outer {
    width: 60%;
  }

  .footer__subtitle {
    width: 100%;
  }
}
